<h1>Web Scraping Challenge</h1>

<h2>Step 1 - Scraping</h2>

In [6]:
import pandas as pd 
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import nbconvert
import requests
import time
from splinter import Browser
import json

In [7]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
There is no [win32] chromedriver for browser 92.0.4515 in cache
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Annika\.wdm\drivers\chromedriver\win32\92.0.4515.107]

<h3>Nasa Mars News</h3>

- Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [8]:
##PAGE TO BE SCRAPED##
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)
html = browser.html
news_soup = bs(html,'html.parser')

In [9]:
##COLLECT THE LATEST NEWS TITLE AND PARAGRAPH TEXT##
news_title = news_soup.find_all('div', class_='content_title')[0].text
news_body = news_soup.find_all('div', class_='article_teaser_body')[0].text

print(news_title)
print("----------")
print(news_body)

Mars Now
----------
The rover will abrade a rock this week, allowing scientists and engineers to decide whether that target would withstand its powerful drill.

<h3>JPL Mars Space Images</h3>

- Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.

- Make sure to find the image url to the full size .jpg image.

- Make sure to save a complete url string for this image.

In [10]:
def featured():
    url = "https://spaceimages-mars.com"
    browser.visit(url)
    html_img = browser.html
    soup = bs(html_img,"html.parser")
    featured_img_url = soup.find('div', class_='header')
    jpg = featured_img_url.find('a', class_="showimg fancybox-thumbs")
    jpg = jpg['href']
    featured_img_url = (f'{url}/{jpg}')
    featured_img_url
    return(featured_img_url)

featured()

'https://spaceimages-mars.com/image/featured/mars2.jpg'

<h3>Mars Facts</h3>

- Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

- Use Pandas to convert the data to a HTML table string.

In [11]:
url = 'https://galaxyfacts-mars.com/'
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
mars_fact = tables[0]
mars_fact.columns = mars_fact.iloc[0]
mars_fact = mars_fact.reindex(mars_fact.index.drop(0)).reset_index(drop=True)
mars_fact.columns.name = None
mars_fact

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
fact_table = mars_fact.to_html()
fact_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [14]:
fact_table.replace('\n','')
print(fact_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

<h3>Mars Hemispheres</h3>

- Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

- Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [15]:
##SCRAPE MARS HEMISPHERE##
mars_hem_url = 'https://marshemispheres.com/'
browser.visit(mars_hem_url)
html = browser.html
soup = bs(html,'html.parser')

In [16]:
mars_hems = soup.find('div',class_='collapsible results')
mars_item = mars_hems.find_all('div',class_='item')
hemisphere_image_urls = []

In [17]:
for item in mars_item:
    try:
        ##TITLE##
        hem = item.find('div',class_ = 'description')
        title = hem.h3.text
        
        ##IMAGE URL##
        hem_url = hem.a['href']
        browser.visit(mars_hem_url + hem_url)
        html = browser.html
        soup = bs(html,'html.parser')
        image_src = soup.find('li').a['href']
        img_url = mars_hem_url + hem_url
        if (title and image_src):
            # Print results
            print('-'*50)
            print(title)
            print(img_url)
        
        ##CREATE DICTIONARY##
        hem_dict = {
            'title':title,
            'image_url':img_url
        }
        hemisphere_image_urls.append(hem_dict)
        
    except Exception as e:
        print(e)

--------------------------------------------------
Cerberus Hemisphere Enhanced
https://marshemispheres.com/cerberus.html
--------------------------------------------------
Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/schiaparelli.html
--------------------------------------------------
Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/syrtis.html
--------------------------------------------------
Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/valles.html

In [18]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/cerberus.html'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/schiaparelli.html'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/syrtis.html'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://marshemispheres.com/valles.html'}]

In [19]:
def scrape():
    data = {"Title & Paragraph":news_body,
            "Feautured Image":featured(),
            "Mars Facts": fact_table,
            "Hemispheres":hemisphere_image_urls}
    return(data)

In [20]:
scrape()

{'Title & Paragraph': 'The rover will abrade a rock this week, allowing scientists and engineers to decide whether that target would withstand its powerful drill.',
 'Feautured Image': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'Mars Facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'Hemispheres': [{'title': 'Cerberus Hemisphere Enhanced',
   'image_url': 'https://marshemispheres.com/cerberus.html'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'image_url': 'https://marshemispheres.com/schiaparelli.html'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'image_url': 'https://marshemispheres.com/syrtis.html'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'image_url': 'https://marshemispheres.com/valles.html'}]}

In [21]:
browser.quit()